<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="js/vue.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #app{
            width: 800px;
            margin: 50px auto;
            background: skyblue;
        }
        table{
            width: 100%;
            background: #000;
        }
        table tr{
            background: #fff;
        }
        form{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
<!--这里就是MVVM中的View-->
<div id="app">
    <form v-show="isShow">
        <input type="text" v-model="person.id" placeholder="请输入序号" >
        <input type="text" v-model="person.name" placeholder="请输入名称">
        <input type="text" v-model="person.score" placeholder="请输入分数">
        <input type="submit" @click.prevent="add" value="新增">
        <input type="submit" @click.prevent="query" value="查询">
    </form>
    <table>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>分数</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        <tr v-for="(persons,index) in persons">
            <th><input :disabled="isDisabled" type="text" v-model="persons.id"></th>
            <th><input :disabled="isDisabled" type="text" v-model="persons.name"></th>
            <th><input :disabled="isDisabled" type="text" v-model="persons.score"></th>
            <th><input :disabled="isDisabled" type="text" :value="persons.time | dateFormart('yyyy-MM-dd')"></th>
            <th>
                <a href="#" @click.prevent="edit">编辑</a>
                <a href="#" @click.prevent="del(index)">删除</a>
                <br>
                <a href="#" @click.prevent="toggle">更多操作</a>
            </th>
        </tr>
    </table>
</div>
<script>

    Vue.filter("dateFormart",function (value,fmStr) {
       let date = new Date(value);
       let year = date.getFullYear();
       let month = date.getMonth() + 1 + "";
       let day = date.getDate() + "";
       let hour = date.getHours() + "";
       let minute = date.getMinutes() + "";
       let second = date.getSeconds() + "";
       if (fmStr && fmStr === "yyyy-MM-dd"){
           return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
       }
        return `${year}-${month.padStart(2,"0")}-${day.padStart(2,"0")} ${hour.padStart(2,"0")}:${minute.padStart(2,"0")}:${second.padStart(2,"0")}`;
    });

    // 这里就是MVVM中的View Model
    let vue = new Vue({
        el: '#app',
        // 这里就是MVVM中的Model
        data: {
            isDisabled: true,
            isShow: false,
            persons: [
                {
                    id: 1,
                    name: "张三",
                    score: "99",
                    time: Date.now()
                },
                {
                    id: 2,
                    name: "李四",
                    score: "88",
                    time: Date.now()
                },
                {
                    id: 3,
                    name: "王五",
                    score: "77",
                    time: Date.now()
                }
            ],
            person: {
                id: "",
                name: "",
                score: ""
            }
        },
        // 专门用于存储监听事件回调函数
        methods: {

            edit(){
                this.isDisabled = !this.isDisabled;
            },
            toggle() {
                this.isShow = !this.isShow;
            },
            del(index) {
                /*console.log(index);*/
                this.persons.splice(index,1);
            },
            add () {
                this.person.time = Date.now();
                this.persons.push(this.person);
                this.person = {
                    id: "",
                    name: "",
                    score: ""
                };
            },
            query () {
                let newPersons = this.persons.filter((person) => {
                    if (person.score === this.person.score){
                        return true;
                    }
                });

                this.persons = newPersons;
            }

        },
        // 专门用于定义局部指令的
        directives: {

        },
        // 专门用于定义计算属性的
        computed: {

        }
    });
</script>
</body>
</html>