<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<!--
1.什么是v-for指令
相当于JS中的for in循环, 可以根据数据多次渲染元素

2.v-for特点
可以遍历 数组, 字符, 数字, 对象
-->



<!--这里就是MVVM中的View-->
<div id="app">

    <ul>
        <li>遍历数组</li>
        <li v-for="(value , index) in list">{{value}}-------{{index}}</li>
        <li>遍历字符</li>
        <li v-for="(value , index) in 'abcdefg'">{{value}}-------{{index}}</li>
        <li>遍历数字</li>
        <li v-for="(value , index) in 6">{{value}}-------{{index}}</li>
        <li>遍历对象</li>
        <li v-for="(value , key) in obj">{{key}}------{{value}}</li>
    </ul>


</div>
<script>
    // 这里就是MVVM中的View Model
    let vue = new Vue({
        el: '#app',
        // 这里就是MVVM中的Model
        data: {
            list: ["张三","李四","王五","赵六"],
            obj: {
                name: "张三",
                age: "10",
                sex: "man"
            }
        }

    });
</script>
</body>
</html>